**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
*.xcuserstate
DerivedData/

.build/
XCFramework/*
!XCFramework/.gitignore

*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

Safar/Resources/Models/*
!Safar/Resources/Models/.gitignore
